// nav {
//   position: absolute !important;
//   top: 0 !important;
//   z-index: 1000;
//   width: 100% !important;
// }

nav {
  background-color: rgba(0, 0, 0, 0.699);
  transition: all 0.3s ease;
  padding: 10px 30px !important;
  border-bottom: 1px solid rgb(85, 85, 85) !important;
}

.navlinks {
  width: 100%;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-family: "Poppins", cursive;
  text-decoration: none;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo:hover {
  color: rgb(231, 145, 47);
  text-decoration: none;
}

.navlinks li {
  list-style-type: none;
  margin-right: 20px;
  padding: 15px;
}

.navlinks a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}

.navlinks a:hover {
  color: #c79863;
}

nav.sticky {
  background-color: black;
}

// .nav_bar {
//   margin-bottom: 120px;
// }

#cart-total {
  color: white;
  background: #c79863;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  position: relative;
  left: -8px;
}

.navbar-toggler {
  border: 2px solid gray;
  float: right;
}

.cartIcon2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.togglerBtn {
  border: none;
}

.navbar-text {
  font-size: 12px;
  margin-top: 12px;
  a {
    font-size: 20px;
  }
}

.hide{
  display: none;;
}