{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="cartSection">
    <div class="row">
      <div class="col-lg-5">
        <div class="orderSummary box-element">
          <a href="/cart" class="btn CartBtn">&#x2190;Back to Cart</a>
          <hr />
          <h2>Order Summary</h2>
          <hr />
          {% for item in items %}
          <div class="cart-row cartItems">
            <div style="flex: 2">
              <img
                class="row-image"
                src="{{item.product.imageUrl}}"
                width="70"
              />
            </div>
            <div style="flex: 3"><p>{{item.product.name}}</p></div>
            <div style="flex: 2">
              <p>${{item.product.price|floatformat:2}}</p>
            </div>
            <div style="flex: 1">
              <p class="quantity">x{{item.quantity}}</p>
            </div>
          </div>
          {% endfor %}
          <br />
          <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
          <h5>
            Subtotal: <strong>{{order.get_cart_total|floatformat:2}}</strong>
          </h5>
          <h5>
            Discount: <strong>- {{order.get_discount|floatformat:2}}</strong>
          </h5>
          <hr />
          <h5>Total: <strong>${{order.get_total|floatformat:2}}</strong></h5>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="box-element" id="form-wrapper">
          <h1>Billing Information</h1>
          <hr />
          <form class="form" id="form" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md">
                <div class="form-group form-field">
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    name="fname"
                    placeholder="First Name"
                    required
                  />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group form-field">
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    name="lname"
                    placeholder="last name"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="form-group form-field">
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    name="phone"
                    placeholder="Phone"
                    required
                  />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group form-field">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="select-icon">
                  <i class="fas fa-chevron-circle-down"></i>
                </div>
                <div class="form-group form-field box">
                  <select id="state" class="stateSection" name="select_state">
                    <option value="Dallas">Dallas</option>
                    <option value="New York">New York</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Boston">Boston</option>
                    <option value="seattle">seattle</option>
                    <option value="Austin">Austin</option>
                    <option value="San Diego">San Diego</option>
                    <option value="New Orleans">New Orleans</option>
                    <option value="Atlanta">Atlanta</option>
                    <option value="Portland">Portland</option>
                    <option value="Miami">Miami</option>
                    <option value="Las Vegas">Las Vegas</option>
                    <option value="Omaha">Omaha</option>
                    <option value="Orlando">Orlando</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="select-icon">
                  <i class="fas fa-clock"></i>
                </div>
                <div class="form-group form-field">
                  <input
                    type="time"
                    class="form-control"
                    id="timePicker"
                    name="time"
                    value="2:52"
                  />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group form-field">
                  <input
                    type="text"
                    class="form-control"
                    id="zipcode"
                    name="zipCode"
                    placeholder="ZipCode"
                    maxlength="6"
                  />
                </div>
              </div>
            </div>

            <p class="noteid">
              **note: Please choose time 15 min before you come and pick your
              order
            </p>

            <div class="row">
              <div class="col-md">
                <div class="form-group form-field">
                  <button class="btn btn-success checkout" id="form-button">
                    Continue
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-lg-12 paymentSection">
            <div class="payment hidden" id="payment_info">
              <p>Payment Options</p>
              <div id="paypal-button-container"></div>
              <!-- <button id="make-payment">Make payment</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=ASopgx7g5xmzRxbDvDX3FrepJMgrRitYnupAxbf6Sb42U91uTo-LKFyIu9Z1gsW0qK1BW57vy-rW2rQG&currency=USD"></script>

<script>
  var total = "{{order.get_total}}";
  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      style: {
        shape: "rect",
      },

      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: parseFloat(total).toFixed(2),
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          submitFormData()
        });
      },
    })
    .render("#paypal-button-container");
</script>
<script>
  var total = "{{order.get_total}}";

  console.log(total);

  var form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("form submitted....");

    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment_info").classList.remove("hidden");
  });

  function submitFormData() {
    var shippingInfo = {
      fname: null,
      lname: null,
      email: null,
      total: total,
      phone: null,
      select_state: null,
      timePicker: null,
      zipCode: null,
    };

    shippingInfo.select_state = form.select_state.value;
    shippingInfo.timePicker = form.timePicker.value;
    shippingInfo.zipCode = form.zipCode.value;
    shippingInfo.lname = form.lname.value;
    shippingInfo.fname = form.fname.value;
    shippingInfo.phone = form.phone.value;
    shippingInfo.email = form.email.value;

    var url = "/process_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        form: shippingInfo,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("sucess", data);
        alert("transaction complete");
        window.location.href = "/";
      });
  }
</script>
{% endblock body %}
