{% extends 'base.html' %} 
{% block body %} 
{% if messages %} 
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert" role="alert">
  {{ message }}
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %}
<div class="container px-4">
  <div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="glass">
        <h1>Login</h1>
        <form class="form" id="form" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md">
              <div class="form-group form-field">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>

                  <input
                    type="text"
                    name="username"
                    placeholder="Username..."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group form-field">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>

                  <input
                    type="password"
                    name="password"
                    placeholder="Password..."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group form-field">
                <button class="LoginSubmit">Login</button>
              </div>
            </div>
          </div>
        </form>
        <p>Don't have a account? <a href="/register">Register</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
